
body {
    background: #202020;
    color: white;
}
.btn_c button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}
#ado{
    display:none;
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%,-50%);
  

}
#ado button{
    width: 60px;
    height: 60px;
    border-style: none;
    border-radius: 60%;
    background-color: red;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    

}
#round{
    position: absolute;
    left:47%;
    top:30%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
}


    @media (max-width:450px){
        #stopwatch {
            font-size: 4.5em;
            position: absolute;
            top: 43%;
            left: 51%;
            transform: translate(-50%, -50%);
        }
        #round{
            position: absolute;
            left: 50%;
            top: 24%;
            transform: translate(-50%,-50%);
            font-size: 5em;
        }
        #buttons {
            position: absolute;
            top: 61%;
            left: 44.4%;
            transform: translate(-50%, -50%);
        }
      
        .btn_c button {
            width: 179px;
            height: 67px;
          
        }    
      
        .txt{
            position: absolute;
            font-size: 2em;
            top: 15%;
            left: 65.4%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
